{:dependencies  [[tailrecursion/boot.core   "1.1.0"]
                 [tailrecursion/boot.task   "1.0.0"]
                 [tailrecursion/hoplon      "4.0.7"]
                 [org.clojure/clojurescript "0.0-1934"]]
 :require-tasks #{[tailrecursion.boot.task    :refer :all]
                  [tailrecursion.hoplon.boot  :refer :all]}
 :public        "resources/public"
 :src-paths     #{"src"}}
